body{
    font-family: "Arial", "Meiryo", sans-serif
}
html{
    font-size: 20px;
}
#h1{
    font-size: 2rem;
    letter-spacing: 2.4rem;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.4);
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.名前{
    color: rgb(225, 192, 203);
}
.血液型{
    color: rgb(225, 192, 203);
}
.好きな食べ方{
    color: rgb(225, 192, 203);
}
.生年月日{
    color: skyblue;
}
.趣味{
    color: skyblue;
}
.理由{
    color: skyblue;
}
.M{
    color: skyblue;
}
.P{
    color: rgb(225, 192, 203);
}
body {
    text-align: center;
}
#parent p{
    font-weight: bold;
}